@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "knight-souls";
    src: local("knight-souls"), url("../fonts/knight-souls.otf") format("opentype");
}
@font-face {
    font-family: "trajan-pro";
    src: local("trajan-pro"), url("../fonts/trajan-pro.ttf") format("truetype");
}
@font-face {
    font-family: "Futura-XBlk-BT";
    src: local("Futura-XBlk-BT"), url("../fonts/Futura-XBlk-BT.ttf") format("truetype");
}
.font-knight-souls {
    font-family: "knight-souls";
}
.font-trajan-pro {
    font-family: "trajan-pro";
}
.font-Futura-XBlk-BT {
    font-family: "Futura-XBlk-BT";
}
.text-clamp-1 {
    font-size: clamp(2.0rem, 2.3rem, 2.7rem);
}
.text-clamp-2 {
    font-size: clamp(0.5rem, 0.7rem, 1.1rem);
}
.text-clamp-3 {
    font-size: clamp(0.6rem, 0.9rem, 1.3rem);
}