@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "knight-souls";
    src:url("./fonts/knight-souls.otf");
}
@font-face {
    font-family: "trajan-pro";
    src:url("./fonts/Trajan-Pro.ttf");
}
@font-face {
    font-family: "Futura-XBlk-BT";
    src:url("./fonts/Futura-XBlk-BT.ttf");
}
@font-face {
    font-family: "Museo";
    src: url("./fonts/Museo-Regular.otf");
}

.text-clamp-1 {
    font-size: clamp(2.0rem, 2.3rem, 2.7rem);
}
.text-clamp-2 {
    font-size: clamp(0.5rem, 0.7rem, 1.1rem);
}
.text-clamp-3 {
    font-size: clamp(0.6rem, 0.9rem, 1.3rem);
}